/* DashFilter.css */

/* Sexy font for all components */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for filter container */
.filters {
  display: flex; /* Use flexbox to align items in a row */
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

/* Styling for individual filters */
.filters > * {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters > *:hover {
  background-color: #e0e0e0; /* Darker background color on hover */
}

.filter-container {
  margin-bottom: 20px;
}

.visualizations svg {
  background-color: #2c3e50;
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
}

label {
  font-weight: bold;
}

select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Additional styles as needed */
